html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings);
  font-variation-settings: var(--font-variation-settings);
  color: var(--text-color);
  background-color: var(--surface-200);
  transition: background-color var(--transition-duration);
  margin: 0;
}

.bg-lime-500 {
  background-color: #84cc16;
}

.bg-noir-500 {
  background-color: #020617;
}

.required::after {
  content: " *";
  color: var(--red-500);
}